{{!< default}}
{{#post}}	
<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">
			<div id="push">
				<header class="post-header">
					<span class="post-meta">
						<span class="post-author">Escrito por {{author}}</span> | 
						<span class="post-date">{{date format="DD MMMM YYYY"}}</span> 
						<span class="post-reading-time">|<span class="estimated-reading-time"></span> 
					</span>
					<div class="clear"></div>
					<h1 class="post-title">{{{title}}}</h1>
				</header>
				<section class="post-content">
					{{content}}
				</section>
				<footer class="post-footer">
					<div class="post-tags">Tags:  
						{{tags separator=" "}}
					</div>
				</footer>
			</div>
			<div id="disqus_thread">
		</div>
			<nav class="post-nav">
				{{#next_post}}
					<a class="post-nav-item post-nav-next" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/next_post}}
				{{#prev_post}}
					<a class="post-nav-item post-nav-prev" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-right"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/prev_post}}
				<div class="clear"></div>
			</nav>
		</div>
		
		<script>
			var disqus_config = function () {
			    this.page.url = '{{url absolute="true"}}';
			    this.page.identifier = 'ghost-{{id}}';
			};
			(function() { 
			    var d = document, s = d.createElement('script');
			    s.src = '//miramicodigo.disqus.com/embed.js';
			    s.setAttribute('data-timestamp', +new Date());
			    (d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</article>
</main>
{{/post}}

