{{!< default}}
{{#post}}	
<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">
			<div id="push">
				<header class="post-header">
					<span class="post-meta">
						<span class="post-author">Escrito por {{author}}</span> | 
						<span class="post-date">{{date format="DD MMMM YYYY"}}</span> 
						<span class="post-reading-time">|<span class="estimated-reading-time"></span> 
					</span>
					<div class="clear"></div>

					<h1 class="post-title">{{{title}}}</h1>
					<figure class="header-image">
					<img src="{{image}}" alt="{{name}}"/>
				</figure>
				</header>
				<section class="post-content">
					{{content}}
				</section>
				<footer class="post-footer">
					<div class="post-tags">Tags:  
						{{tags separator=" "}}
						<br>
						<span>Escrito por {{author}}</span>
					</div>
				</footer>
			</div>

			<div class="shared">
				<h1 class="post-shared">¿Te gustó el artículo?, por favor, ayudame a compartir para que otras personas puedan leerlo.</h1>
				<div class="addthis_sharing_toolbox" align="center"></div>
				<h1 class="post-shared" margin-top="1em">O suscribete en el canal de Youtube(Videos) y Spreaker(Podcast) para estar al dia con nuestras publicaciones.</h1>
				<div class="g-ytsubscribe" data-channelid="UCGTCsuk3QQ7DBjK8u_Uxvww" data-layout="full" data-count="default" data-onytevent="onYtEvent" style="position:relative;padding:5px;margin:5px;"></div>
			</div>

			<div class="addthis_recommended_horizontal" style="position: absolute;top: 50%;
  left: 50%"></div>
		
			<div id="disqus_thread"></div>
			<nav class="post-nav">
				{{#next_post}}
					<a class="post-nav-item post-nav-next" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/next_post}}
				{{#prev_post}}
					<a class="post-nav-item post-nav-prev" href="{{url absolute="true"}}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-right"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{title}}</h4>
								<p class="post-nav-excerpt">{{excerpt words="12"}}&hellip;</p>
							</span>
						</section>
					</a>
				{{/prev_post}}
				<div class="clear"></div>
			</nav>
		</div>
		
		<script>
			var disqus_config = function () {
			    this.page.url = '{{url absolute="true"}}';
			    this.page.identifier = 'ghost-{{id}}';
			};
			(function() { 
			    var d = document, s = d.createElement('script');
			    s.src = '//miramicodigo.disqus.com/embed.js';
			    s.setAttribute('data-timestamp', +new Date());
			    (d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</article>
</main>
{{/post}}


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5797aa510753e842"></script>


<script src="https://apis.google.com/js/platform.js"></script>
<script>
  function onYtEvent(payload) {
    if (payload.eventType == 'subscribe') {
    } else if (payload.eventType == 'unsubscribe') {
    }
    if (window.console) { // for debugging only
      window.console.log('YT event: ', payload);
    }
  }
</script>
